<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a routerLink="../home">Inicio</a> <span class="mx-2 mb-0">/</span><strong class="text-black">Tienda</strong></div>
      </div>
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Todos Nuestros Productos</h2></div>
              <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtros
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">Los más comprados</a>
                    <a class="dropdown-item" href="#">Por Nombre, A - Z</a>
                    <a class="dropdown-item" href="#">Por Nombre, Z - A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Por Precio, menor a mayor</a>
                    <a class="dropdown-item" href="#">Por Precio, mayor a menor</a>
                  </div>
                </div>
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Filtros2</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Los más comprados</a>
                    <a class="dropdown-item" href="#">Por Nombre, A - Z</a>
                    <a class="dropdown-item" href="#">Por Nombre, Z - A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Por Precio, menor a mayor</a>
                    <a class="dropdown-item" href="#">Por Precio, mayor a menor</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row mb-5">

            <div class="col-sm-6 col-lg-4 mb-4">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a routerLink="../articulos/1"><img src="../../../assets/img/kit-pastelero-1-und.jpg" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a routerLink="../articulos/1">Kit Pastelero 1 Und</a></h3>
                  <p class="text-primary font-weight-bold">S/.54.90</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorías</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a href="#" class="d-flex"><span>Packs con AmOr</span> <span class="text-black ml-auto">(29)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Superalimentos</span> <span class="text-black ml-auto">(45)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Snacks</span> <span class="text-black ml-auto">(274)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Pastas</span> <span class="text-black ml-auto">(456)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Harinas & Premezclas</span> <span class="text-black ml-auto">(14)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Endulzantes</span> <span class="text-black ml-auto">(2,124)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Cereales</span> <span class="text-black ml-auto">(1,543)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Arroz & Granos Andinos</span> <span class="text-black ml-auto">(95)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>