
  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Todos Nuestros Productos</h2></div>
              <div class="d-flex">
                <!--<div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtros
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">Los más comprados</a>
                    <a class="dropdown-item" href="#">Por Nombre, A - Z</a>
                    <a class="dropdown-item" href="#">Por Nombre, Z - A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Por Precio, menor a mayor</a>
                    <a class="dropdown-item" href="#">Por Precio, mayor a menor</a>
                  </div>
                </div>
                 <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Filtros2</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Los más comprados</a>
                    <a class="dropdown-item" href="#">Por Nombre, A - Z</a>
                    <a class="dropdown-item" href="#">Por Nombre, Z - A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Por Precio, menor a mayor</a>
                    <a class="dropdown-item" href="#">Por Precio, mayor a menor</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row mb-5">

            <div *ngFor="let p of products" class="col-sm-6 col-lg-4 mb-4">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a routerLink="/articulos/{{p.idproducto}}"><img src="{{p.imagen}}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h4><a routerLink="/articulos/{{p.idproducto}}">{{p.nombre}}</a></h4>
                  <p class="text-primary font-weight-bold">S/. {{p.precio.toFixed(2)}}</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorías</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("packs")'><span>Packs con AmOr</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("superalimentos")'><span>Superalimentos</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("snacks")'><span>Snacks</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("pastas")'><span>Pastas</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("harinas")'><span>Harinas & Premezclas</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("endulzantes")'><span>Endulzantes</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("cereales")'><span>Cereales</span></button></li>
              <li class="mb-1"><button type="button" class="btn btn-link" (click)='_be_getArticleById("arroz")'><span>Arroz & Granos Andinos</span></button></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>