<body>
    
    <section style="padding: 30px 0px;">
        <div class="col-lg-12">
            <div>
                <img src="assets/img/banner2_nosotros.jpg" style="width:100%;height:100%;">  
            </div>
        </div>
    </section>     

    <section>
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-uppercase section-heading  text-center" >¿QUÉ OFRECEMOS?</h3>
                    <h4>Un despertar de los sentidos hacia una alimentación consciente y un propósito compartido.</h4>
                    <h4>América Latina es nuestro continente y estamos en la responsabilidad de contribuir a su desarrollo económico y social a través de nuestro modelo de negocio, el mismo que se ha convertido en nuestro PROPÓSITO.</h4>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/img4_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6" >
                    <h3 class="text-uppercase section-heading  text-center">En América Orgánica todos somos influenciadores...</h3>
                    <h5>En América Orgánica todos somos influenciadores conscientes y por ello, queremos estar más sanos y empoderados sobre el origen de todos nuestros alimentos, es allí donde esta la conexión y la fuerza transformadora de nuestro entorno a través del poder del consumo con IMPACTO.</h5>
                 </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/img5_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container" style="padding: 20px;">
            <div class="row">
                <div class="col-md-6">                                          
                    <h5>Queremos que seas tan activista como nosotros, pues se trata no solo de bienestar y el desarrollo sostenible en toda la región, se trata de recordar nuestro origen y sentir con orgullo que somos una generación que celebra nuestra LATINOAMERICANIDAD.</h5>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/img6_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>
 
    <section>
        <div class="container" style="padding: 20px;background-color: rgb(255, 255, 255);">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">NUESTRO COMPROMISO</h2>
                    <h3 class="text-center">No descansar por seguir impulsando el emprendimiento y valorar de manera justa los alimentos, el trabajo y las oportunidades a quienes nos alimentan con Amor.</h3>
                    <h4 class="text-right">-Nicolas Ramirez O. (CEO & FOUNDER AMERICA ORGANICA GROUP</h4>
                </div>
            </div>            
        </div>
    </section>   

    <section>
        <div class="container" style="padding: 20px;">
            <div class="row">
                <div class="col-md-6" >
                    <h3 class="text-uppercase section-heading  text-center">Nutrición con Amor</h3>
                    <h5>América Orgánica no solo te brinda una nueva era de alimentos conscientes, ancestrales, indulgentes, naturales, orgánicos, saludables, convenientes, libres de alérgenos y agentes modificados genéticamente (GMO).</h5>
                 </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/min4_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6" >
                    <h3 class="text-uppercase section-heading  text-center">Asesoria Nutricional</h3>
                    <h5>Acceso a nutricionistas que nos acompañan y que no solo gozan de la credibilidad profesional para orientarte de manera individual sobre cómo mejorar tu vida a través de la correcta alimentación, sino también, a través de la experiencia, la conexión humana y holística que sabemos forma parte de una plena salud integral.</h5>
                 </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/min5_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>

</body>
