<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a routerLink="../home">Home</a><span class="mx-2 mb-0">/</span><strong class="text-black">Blog</strong>
            </div>
        </div>
    </div>
</div>
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Blog</h2>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="../../../assets/img/blog2.jpg" alt="" class="img-responsive center-block d-block mx-auto">
            </figure>
            <div class="text">
                <h3>Granos andinos y cereles sin gluten</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="../../../assets/img/blog1.jpg" alt="" class="img-responsive center-block d-block mx-auto">
            </figure>
            <div class="text">
                <h3>Mi hijo tiene alergia al gluten ¿Qué puede comer? </h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="../../../assets/img/blog3.jpg" alt="" class="img-responsive center-block d-block mx-auto">
            </figure>
            <div class="text">
              <h3>Me han diagnosticado intolerancia al gluten ¿Qué hago?</h3>
            </div>
          </a>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
  </div>