<body>
    
    <section style="padding: 30px 0px;">
        <div class="col-lg-12">
            <div>
                <img src="assets/img/banner3_nosotros.jpg" style="width:100%;height:100%;">  
            </div>
        </div>
    </section>     

    <section>
        <div class="container" style="padding: 20px;background-color: rgb(255, 255, 255);">
            <div class="row">
                <div class="col-lg-12">                    
                    <h3 class="text-center">Por eso nuestro IMPACTO es de activismo puro y acciones concretas, que te involucra, pues tu tienes el poder de participar proactivamente, es la forma de compartirlo y estamos seguros que también será tu disfrute y recompensa.el trabajo y las oportunidades a quienes nos alimentan con Amor.</h3>
                    <h4 class="text-right">-Nicolas Ramirez O. (CEO & FOUNDER AMERICA ORGANICA GROUP</h4>
                </div>
            </div>            
        </div>
    </section>   

    <section>
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-uppercase section-heading  text-center" >América Orgánica es nuestra identidad</h3>
                    <h4>Compartimos nuestro continente y celebramos nuestra latinoamericanidad con el mundo, conectamos una sola realidad, el devoto trabajo del agricultor por cultivar nuestros alimentos ancestrales y originarios con las necesidades del consumidor de mejorar su calidad de vida, disfrutando y cuidando su bienestar y el de su familia.</h4>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/img7_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6" >
                    <h5>Si no hay mercado ni consumo responsable y consciente que justifique el valor de lo que se alimenta, cómo podemos impulsar el emprendimiento y sustentar el trabajo para mejorar la calidad de vida de nuestros sabios productores.</h5>
                    <h5>¿Sabías que casi el 90% de esa base productiva en LATAM que nos abastece de alimentos orgánicos, al mundo, se encuentra en estado de pobreza o pobreza extrema?</h5>                 </div>
                <div class="col-sm-6">
                    <div>
                        <img src="assets/img/img8_nosotros.jpg" style="width:75%;height:75%;">  
                    </div>
                </div>
            </div>            
        </div>
    </section>    

</body>
