<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a routerLink="../home">Home</a><span class="mx-2 mb-0">/</span><strong class="text-black">Recetas</strong>
            </div>
        </div>
    </div>
</div>
<!--<p>recetas works!</p>   -->
<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-uppercase section-heading">Recetas</h1>
                <h2 class="text-uppercase section-heading">DELICIOSAS, PRÁCTICAS Y FUNCIONALES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid"  src="assets/img/ao-muffins-full.jpg" width="700" height="700"></a>
                <div class="elementor-cta-bg-overlay">
                    <h4>MUFFINS DE CHOCOLATE</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/ao-fideos.png" width="700" height="700"></a>
                <div class="portfolio-caption">
                    <h4>SPAGHETTI AL POMODORO</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/ao-smoothie.png" width="700" height="700"></a>
                <div class="portfolio-caption">
                    <h4>SMOOTHIE DE MACA, FRESAS Y PLÁTANO</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/ao-img-volcan.jpg" width="700" height="700"></a>
                <div class="portfolio-caption">
                    <h4>VOLCÁN DE CHOCOLATE</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/receta-crepes.jpg" width="700" height="700"></a>
                <div class="portfolio-caption">
                    <h4>CREPES LIBRES DE GLUTEN</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/fudge.jpg" width="700" height="700"></a>
                <div class="portfolio-caption">
                    <h4>FUDGE DE CHOCOLATE</h4>
                    <button class="elementor-button elementor-size-xs">
                        <span class="elementor-button-text">ver receta</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>